@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --main-color: #27ae60;
  --secondary-color: #2ecc71;
  --text-color: #6b6b6b;
  --background-color: #4b4b4b;
  --light-bg: #f1f1f1;
}

body {
  padding: 1rem 0rem;
  color: #4b4b4b;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.nav {
  background-color: #4b4b4b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0rem 1.5rem;
  align-items: center;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
}

.list {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  gap: 2rem;
}

.list-item {
  list-style: none;
}

.list-item-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.list-item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 0px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
}

.list-item:hover .list-item-link::after {
  width: 100%;
}

.signup-link {
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  transition: all 0.3s;
}

.signup-link:after {
  content: none;
}

.signup-link:hover {
  background-color: #fff;
  color: #6b6b6b;
}

.login {
  padding: 5rem 0rem;
}

.form-box {
  max-width: 60%;
  margin: 0 auto;
}

.form {
  max-width: 60%;
  background-color: #fff;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 1.5rem;
  color: #27ae60;
  margin-bottom: 2rem;
}

.email-input,
.password-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

/* .password-input {
  margin-bottom: 1.5rem;
} */

.email,
.password {
  margin-bottom: 0.5rem;
}

#email,
#password {
  font-family: inherit;
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.8rem 0.5rem;
  outline: none;
  background-color: var(--light-bg);
  border: none;
  border-radius: 2px;
}

#email::placeholder,
#password::placeholder {
  color: #6b6b6b70;
}

.login-btn {
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  transition: all 0.4s;
}

.login-btn:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0rem;
}

.form-links a:link,
.form-links a:visited {
  font-size: 0.9rem;
  text-decoration: none;
  color: #27ae60;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #2ecc71; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* .popup {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 10;
  padding: 2rem;
  border-radius: 5px;
  transform: translateX(-50%);
  background-color: #e67e22;
  color: #fff;
  opacity: 0;
  animation: popup-anim 3s;
} */

@keyframes popup-anim {
  0% {
    transform: translateX(-50%);
    transform: translateY(-3rem);
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%);
    transform: translateY(0);
    opacity: 0;
  }
}
