@media (max-width: 1020px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 790px) {
  .tour {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 7rem;
  }
  .tour-right {
    transform: scale(1);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    gap: 3rem;
  }
  body {
    padding: 4rem 2rem;
  }
}

@media (max-width: 650px) {
  .tour {
    max-width: 100%;
    margin-bottom: 4rem;
  }
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1120px) {
  .form {
    max-width: 80%;
  }
}

@media (max-width: 860px) {
  .form {
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  .form-box {
    max-width: 80%;
  }
}
