.tour-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  justify-items: center;
  margin: 6rem 0rem;
}

.tour {
  max-width: 90%;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6b6b6b;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.tour-stars {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.tour-img {
  position: relative;
  height: 16rem;
  margin-bottom: 2rem;
}

.tour-img img {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
}

.img-linear-bg {
  display: inline-block;
  position: absolute;
  /* background-blend-mode: screen; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    rgba(39, 174, 95, 0.5),
    rgba(22, 160, 132, 0.5)
  );

  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
}

.detail-list {
  display: grid;
  list-style: none;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

.tour-detail-list-item {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #6b6b6b25;
  padding-bottom: 0.8rem;
}

.far {
  color: #16a085;
}

.fa-star {
  color: #fff;
}

.tour-details {
  max-width: 50%;
}

.tour-title {
  position: absolute;
  right: 0;
  bottom: 0rem;
  width: 70%;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  text-align: right;
  padding-right: 1rem;
  background-image: linear-gradient(#27ae60, rgba(22, 160, 132));
}

.tour-bottom-details {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#27ae60, rgba(22, 160, 132));
  padding: 1rem 1rem;
  color: #fff;
  clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0% 100%);
}

.tour-price span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 1rem 0rem;
}

.tour-price p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.tour-detail-btn {
  display: inline-block;
  text-decoration: none;
  color: #6b6b6b;
  background-color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  position: relative;
}

.tour-detail-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  z-index: -1;
}
